<link rel="stylesheet" type="text/css" href="/css/home.css">
<h1 id="heading">Task Manager</h1>
 <div id="buttons">
        <button type="submit"  id="google" class="mybtn btn">
            <a href="/users/auth/google">Login with Google</a>
        </button>
        <button type="submit"  id="tm" class="mybtn btn">
            <a href="/users/sign-in">Sign In</a>
        </button>
        <button type="submit"  id="sign-up" class="mybtn btn">
            <a href="/users/sign-up">Sign Up</a>
        </button>
</div>