
<link rel="stylesheet" type="text/css" href="/css/sign-up.css"></link>
<div class="sign-up-form">
    <i class="fas fa-user-circle custom"></i>
    <h1>Sign Up</h1>
    <form method="POST" action="/users/create-user">
        <input name="name" type="text" class="input-box" placeholder="Yor Name">
        <input name="email" type="email" class="input-box" placeholder="Your Email">
        <input name="password" type="password" class="input-box" placeholder="Password">
        <button type="submit" class="signup-btn">Sign Up</button>
    </form>
        <hr>
        <p class="or">OR</p>
        <button type="button" class="signup-btn login-btn">Log In With Gmail</button>
        <p>Do you have account ? <a href="#">Sign in</a></p>
</div>