
<link rel="stylesheet" type="text/css" href="/css/tasks.css">
<div class="tasks-container">
    <div id="header">
        <h3>My Tasks</h3>
        <a href="/users/log-out">Logout</a>
    </div>
    <div></div>
</div>