#views{
    width: 80%;
    height: 100%;
    background-color: rgb(248, 244, 244);;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
}

#add-btn{
    color: rgb(15, 15, 160);
    font-size: 3rem;
    position: absolute;
    top:90%;
    left:95%;
    transform: translate(-50% , -50%);
}

.custom-card{
    width: 30rem;
    height: 10rem;
    margin: 1rem;
    border: 1px solid grey;
}

.custom-card-body{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}

.custom-card-body span{
    margin-right: 1rem;
    font-weight: 700;
}

.custom-card-body a{
    margin-left: auto;
}
.custom-card-body a div{
    border-radius: 50%;
    background-color: crimson;
    width: 2rem;
    height: 2rem;
    position: relative;
}

.custom-card-body a div i{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}