/* .heading{
    text-align: center;
}

.outer-container{
    width: 70%;
    height:90%;
    border:1px solid black;
    margin: auto;
    overflow: scroll;
}

main{
    padding:1rem;
}
input{
    width: 100%;
    height: 2rem;
    border: 0;
}



.edit-btn{
    width: 90%;
    margin-left:2rem;
}


#other-details{
    display: flex;
    flex-direction: row;
}

select{
    width: 100%;
    border: 0;
}
#category{
    width: 50%; */
   /* border: 1px solid black; */
/* }

#date{
    width: 50%; */
    /* border: 1px solid black; */
/* }

ul{
    list-style-type: none;
}

.align{
    float: right;
    margin-top: -2rem;
}

i{
    margin-right: 0.6rem;
}

#first-line{
    display: flex;
    flex-direction: row;
}

#cb{
    width:1.3rem;
    margin-right: 1rem;
} */

body{
    background-image: url("../images/bg-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#heading{
    color: white;
   text-align: center;
   margin-top: 2rem;
   font-size: 4rem;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: rgb(81, 99, 69);
}

#buttons{
    position: absolute;
    left : 50%;
    top:50%;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: column;
}

.mybtn{
    margin-bottom: 2rem;
    width: 20rem;
    height: 3rem;
}

#sign-up{
    background-color: white;
}
#tm{
    background-color: #1c8adb;
}
#tm a{
    color: #fff;
}
#google{
    background-color: rgb(224, 45, 45);
}