.tasks-container{
    width: 500px;
    min-height: 500px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    margin: 5% auto 0;
    border-radius: 20px;
}

#header{
    height: 30%;
    width: 100%;
    background: linear-gradient(darkblue to black);
    border-radius: 20px;
    padding: 20px;
}

#header h3{
    color: #fff;
    font-family: initial;
}